<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About - Charlottesville Photos</title>
    <link rel="stylesheet" href="{{ base_path ~ '/assets/styles.css' }}">
</head>
<body>
    {% include '_menu.html.twig' %}
    <div class="container">
        <h1>About This Gallery</h1>
        <p>These are photos taken by Waldo Jaquith in downtown Charlottesville, largely in the 1990s,
        but some later. Public figures (e.g., performers, elected officials) are identifed by their
        full names, but people are otherwise identified by their first name and possible last
        initial.</p>

        <p>If there’s a photo of you here and you’d prefer that it not be public,
        <a href="https://waldo.jaquith.org/contact/">let me know</a>, and I’ll take it down. Or if
        you’re OK with it being listed here, but would rather that search engines be blocked from
        indexing it, let me know. Or if you’d like to have your name removed, or (on the other end
        of the spectrum) your entire named included, let me know.</p>

        <p>If any information here is inaccurate or incomplete, corrections and expansions are
        welcomed.</p>

        <p>If you have your own photos of downtown Charlottesville that you'd like to have
        included, let me know! Every page has a credit and a copyright status, in order to
        accommodate including other folks’ photos.</p>
    </div>
    <footer>
        <p>All photos copyright Waldo Jaquith, unless otherwise indicated. Photos are published under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">the Creative Commons
        BY-NC-SA 4.0 license</a>.</p>
    </footer>
</body>
</html>
